VLLM_BASE_URL=http://127.0.0.1:8000 # The base URL of the vLLM server. If you are running the vLLM server locally, you can use http://
VLLM_MODEL=Qwen/Qwen2.5-Coder-3B-Instruct # The model to use for inference. You can find available models at https://huggingface.co/models?pipeline_tag=text-generation&sort=downloads
VLLM_PROMPT="You are a helpful assistant. Answer the following question in detail: {question}"
VLLM_STRESS=false # Whether to stress test the model with multiple requests
VLLM_COUNT=50 # Number of requests to send
VLLM_PARALLEL=8 # Number of parallel requests to send
VLLM_REPEAT_MINUTES=0 # Number of minutes to repeat the stress test. Set to 0 to run only once.